#navbarNavAltMarkup {
  background-color: #393d3f;
}

#clocks{
  float: right;
}

#txt{
  color: white;
  text-align: center;
  background-color: #393d3f;
  font-size: 30px;
}

#canvas{
  background-color: #fdfdff;
}

#homeText{
  font-size: 200px;
}

body{
  background-color: #fdfdff;
}
